packages: 
  yum:
    mysql-server: [] 

services:
  sysvinit:
    mysqld:
      enabled: "true"
      ensureRunning: "true"


option_settings:
  - option_name: ROOT_PASSWORD
    value: root
  - option_name: DATABASE_PASSWORD
    value: root
  - option_name: DATABASE_HOST
    value: localhost
  - option_name: DATABASE_DB_NAME
    value: routes  
  - option_name: DATABASE_USER
    value: web_user

container_commands:
  01databasepassword:
    command: mysqladmin -u root password $ROOT_PASSWORD
    test: echo 'select 1' | mysql -h localhost -u root
  02databaseschema:
    command: sed "s/SED_REPLACE_PASS/$DATABASE_PASSWORD/g" < .ebextensions/create_schema.sql | mysql -h localhost -u root -p$ROOT_PASSWORD
  03databasepopulate:
    command: PASSWORD=$ROOT_PASSWORD .ebextensions/database_populate.py
