<!DOCTYPE html>
<html lang="en" ng-app="myApp"> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AWS Developer: Deploying on AWS</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/navbar.css" rel="stylesheet">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <div class="container">

        <div ng-view></div>

  </div> <!-- /container -->

  <footer class="footer">
    <div class="container">
      <small>{% include 'buildinfo.html' %}</small>
    </div>
  </footer>

  <script src="/static/angular/angular.min.js"></script>
  <script src="/static/angular-route/angular-route.min.js"></script>
  <script src="/static/app.js"></script>
  <script src="/static/view/game.js"></script>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
